.home-page {
  .landing-section {
    background-image: url("/images/writers-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    position: relative;
    input, button {
      border: none !important;
    }
    .landing-content {
      max-width: 540px;
      margin: 150px auto 0;
      text-align: center;
      position: relative;
      z-index: 2;
      * {
        color: #fff;
      }
      h2 {
        * {
          font-size: 30px;
        }
      }
      p {
        margin: 18px 0;
        letter-spacing: 0.5px;
        line-height: 24px;
        font-size: 18px;
      }
      form {
        .legal, .upgrade-toggle-info {
          line-height: 14px;
          font-size: 12px;
          margin-top: 5px;
          * {
            font-size: 12px;
          }
        }
        input {
          padding: 10px;
          color: #586062;
          height: 44px;
        }
        .signup-btn {
          width: 100%;
          text-transform: uppercase;
          font-family: 'webfont_regular';
          margin-bottom: 10px;
        }
      }
    }
    .mask-bg {
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.4);
      left: 0;
      top: 0;
      z-index: 1;
    }
  }
}
